<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite verbose="1" name="Sample_Test_suite" preserve-order="true" parallel="tests" thread-count="1">
	<test name="TestSuite">
		<classes>
			<class name="com.shubham.Product1.tests.Demo_Test" />
		</classes>
	</test>
</suite>